body {
    background-image: url(imagens/fundo.jpg)
  }
  
  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:dodgerblue
  }

  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: orange;
  }
  
  p {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: goldenrod;
    text-align: center;
  }

  h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 42px;
  }